.display-none {
    display: none;
}

.radiobutton {
    background: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #a0a0a0;
    border-radius: 50%;
    cursor: pointer;
}

.radioinnerbutton {
    background: #2655e2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.flex {
    display: flex;
}

.pl5 {
    padding-left: 5px;
}

.customSelect {
    width: 100%;
    height: 100%;
}

.customSelect button {
    font-size: 12px;
    width: 100%;
    height: 100%;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 12px;
}

.customSelectDropdown {
    width: 100%;
    color: #575962;
}

.customSelect .optionsdiv {
    max-height: 100px;
    overflow-y: auto;
}

.customSelectSearch {
    padding: 0.25rem 0.5rem;
}

.dropdown-item:active {
    color: #fff !important;
    /* background: none !important; */
}

.searchinputicon {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #2d79f8 !important;
}

.CustomSelectedOptionDiv {
    width: 90%;
    float: left;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #575962;
}

.CustomSelectedOption2Div{
    width: 90%;
    overflow: hidden;
    white-space: normal;
    color: #575962;
}

.whitespacewrap {
    white-space: normal !important;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.selecttag{
    background: #466bd9;
    padding: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    color: white;
    /* border: 1px solid #4f4a4a; */
    border-radius: 2px;
}

a{
    cursor: pointer;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt25{
    margin-top: 25px;
}

.h50{
    height: 50px;
}

.mt10{
    margin-top: 10px !important;
}

.pl35{
    padding-left: 35px;
}

.mb50{
    margin-bottom: 50px;
}

.convarrow{
    width: 400px;
    letter-spacing: 2px;
    position: absolute;
    margin-left: 3px;
    top: 20%;
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.customSelect .searchinput{
    height: 30px !important;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f14{
    font-size: 14px !important;
}