/*@import url('https://fonts.googleapis.com/css?family=Poppins');*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.logoimage {
    width: 60%;
}

.authlogosection {
    margin-bottom: 25px !important;
}

.borderedbtn {
    color: #5c2bab !important;
}

.bgbtn {
    color: #fff !important;
}

.mt40 {
    margin-top: 40px !important;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .logowidth {
        width: 50% !important;
    }
}

@media screen and (min-width:1025px) {
    .logowidth {
        width: 150% !important;
    }
}

@media screen and (min-width:500px) and (max-width: 767px) {
    .logowidth {
        width: 65% !important;
    }
}

@media screen and (max-width:499px){
	.logowidth{
		width:100% !important;
	}
}
.addbtn {
    color: #fff !important;
    background: #5c2bab;
    text-align: center !important;
}
.addbtn:hover{
	background: #fff;
	color: #5c2bab !important;
	border: 1px solid #5c2bab;
    text-align: center !important;
}
.tablesmallbtn{
	    font-size: 13px;
    border-radius: 20px;
    text-decoration: underline;
    color: #9a9caf;
}
.mb0{
	margin-bottom: 0px !important;
}
a.tablesmallbtn:focus, a.tablesmallbtn:active, a.tablesmallbtn:hover{
	color: #5c2bab;
	text-decoration: underline !important;
}
.pb0{
	padding-bottom: 0px !important;
}
.pt15{
	padding-top: 15px !important;
}
.mb5{
	margin-bottom: 5px !important;
}
.mt15{
	margin-top: 15px !important;
}
.width100{
	width: 100% !important;
}
.tabanchor{
	    color: #000 !important;
    border-bottom: 1px solid #000 !important;
    font-size: 16px !important;
}
span.required{
	color: #f4516c;
}
.pt0{
	padding-top: 0px !important;
}
p.confirmtitle {
    font-size: 16px;
    margin-top: 2px;
}
.confirmationicon {
    font-size: 45px;
    color: #5c2bab;
}
a.page-link {
    border-radius: 25px;
    padding: 10px 15px;
}
.floatright{
    float: right !important;
}
.pb60{
    padding-bottom: 60px !important;
}
.searchinput{
    height: 40px;
    border-radius: 4px 0px 0px 4px;
}
.searchbtn{
        border-radius: 0px 4px 4px 0px;
    background: #5c2bab;
    border: 1px solid #5c2bab;
}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.mt12{
    margin-top: 12px !important;
}
.porterimgthumb{
        width: 75%;
    border-radius: 50px;
}
.porterimage {
    width: 100%;
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
p.porternameinfo {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}
p.portermobileinfo {
    text-align: center;
    margin-bottom: 5px;
}
p.portersuprinfo {
    text-align: center;
}
img.porterinfoimage {
    width: 30%;
    border-radius: 100px;
    margin-top: 20px;
}
.proofdetails {
    margin-top: 20px;
    margin-bottom: 20px;
}
span.proofspan {
    background: #53b2f9;
    padding: 4px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.proofdetails span a {
    font-size: 12px !important;
}
.proofdetails span a:hover {
    color:#fff !important;
}
.whitecolor {
    color: #fff !important;
}
.tableanchor{
    color: #575962 !important;
}
.table-bordered thead th{
        background: #f0f0f0;
}
.table-responsive{
    border:none !important;
}
.tableheaderrow{
        padding-top: 10px;
        padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #ebedf2;
}
.tableheading{
    font-size: 16px;
    font-weight: 600;
    color: #575962;
    margin-top: 10px;
}
.plr0{
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width:1200px){
    .subadmintable{
        display: table !important;
    }
}
.f16{
    font-size: 16px !important;
}
.pt15{
    padding-top: 15px !important;
}
.m0{
    margin: 0px !important;
}
.btnone{
    border-top: 0px !important;
}
.mt-20{
    margin-top: -20px !important;
}
.mt30{
    margin-top: 30px !important;
}
span.smalltext {
    font-size: 15px;
    padding-left: 5px;
}
.m-widget25 .m-widget25--progress .m-widget25__progress .m-widget25__progress-number{
    font-size: 20px !important;
}
.mt-20{
    margin-top: -20px !important;
}
#chartdiv {
    width       : 100%;
    height      : 300px;
    font-size   : 11px;
}
.locationinputfield{
    border-radius: 20px;
    height: 40px;
}
.p25{
    padding: 25px;
}
.servlabel{
        font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebedf2;
}
.mt15{
    margin-top: 15px;
}
#locmgt span.select2-selection.select2-selection--single{
    border-radius: 20px !important;
        margin-top: 15px;
    padding: 0px;
}
#locmgt .select2-container--default .select2-selection--single .select2-selection__rendered{
        padding-top: 7px;
    padding-bottom: 7px;
}
#locmgt .select2-container--default .select2-selection--single .select2-selection__arrow{
    margin-top:6px !important;
}
.roundbtn{
    padding: 8px 11px !important;
}
.nopadding{
    padding: 0px;
}
.p2{
    padding: 2px;
}
.pt5{
    padding-top: 5px !important;
}
.ptb10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.mlmlogotext{
        font-size: 45px;
    font-weight: 900;
    color: #5c2bab;
}
.mb10{
    margin-bottom: 10px !important;
}
.logoanchor:hover{
    text-decoration: none;
    }
    .logoanchor{
            margin-top: 12px;
    }
    .logotext{
        font-weight: 900;
            font-size: 24px;
    }
    .mt20{
        margin-top: 20px !important;
    }
    .pr0{
        padding-right: 0px !important;
    }
    .pl0{
        padding-left: 0px !important;
    }
    .mt15{
        margin-top: 15px !important;
    }
    /*EPIN BTN CSS START*/
    .btn-code {
    max-width: 160px;
    margin-top: 30px;
}
.btn-code {
    position: relative;
    height: 36px;
    margin: auto;
    border-radius: 2px;
        margin-top: 10px !important;
}
.btn-code, .btn-code span.partial-code {
    line-height: 34px;
    display: block;
    overflow: hidden;
}
.btn-code span.partial-code {
    padding-right: 11px;
    text-align: right;
    color: #4a90e2;
    border: 1px dashed #4a90e2;
    border-radius: 3px;
    background: #e0efff;
}
.btn-code span.btn-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    color: #f4516c;
    border: 1px solid #f4516c;
    border-radius: 3px;
    background-color: #fff;
}
.btn-code span.btn-hover:hover {
    width: 80%;
    color: #fff;
    background-color: #f4516c;
}
    /*EPIN BTN CSS END*/
    .epinno{
        text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    }
    .createddate {
        text-align: center;
    margin-top: 10px !important;
    margin-bottom: 5px;
}
.epinsection {
    background: #f5f3f3;
    padding: 12px;
    margin-bottom: 20px;
}
.coupon_code {
    font-size: 21px;
    position: relative;
    width: 100%;
    margin: 5px auto;
    padding: 10px 20px;
    text-align: center;
    border: 2px dashed azure;
        color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
p.epinamount {
    text-align: center;
    font-size: 22px;
}
p.epinmodalcontent {
    text-align: center !important;
    font-size: 23px;
    margin-bottom: 0px;
    padding: 15px 15px 5px 15px;
}
p.yourcode {
    text-align: center;
}
.mt30{
    margin-top: 30px !important;
}
.pinkcolor{
    color: #f4516c !important;
}
p.epinuser {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 14px;
}
.viewpinbtn {
    margin-top: 0px !important;
    line-height: 28px !important;
    height: 38px;
}
.viewpinbtn span{
    height: 28px !important;
}
@media screen and (max-width:767px){
    .hidden-xs{
        display: none !important;
    }
    .mobilep15{
        padding: 15px !important;
    }
}
/*TREE CSS STARTS HERE*/
/*Now the CSS*/
.tree{
    display: inline-table;
}
.tree ul {
    padding-top: 20px; position: relative;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li a{
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-size: 11px;
    display: inline-block;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #fff;
    color: #000;
    border: 1px solid #e2e3e4;
}
/*TREE CSS ENDS HERE*/
img.geneimg{
    width: 50% !important;
}
.geneuser{
        margin-top: 10px;
    background: #f4516c;
    color: #fff;
    display: block;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 0px;
        font-size: 12px;
    font-weight: 700;
}
.addgeneuser{
        margin-top: 10px;
    background: #5c2bab;
    color: #fff;
    display: block;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
}
.pr5{
    padding-right: 5px !important;
}
.pl5{
    padding-left: 5px !important;
}
.plr5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.geneologysection {
    background: #e6e7e2;
    padding: 25px 25px 10px 25px;
    margin-top: 0px;
}
p.geneologytext span {
    color: #f4516c;
    font-weight: 900;
}
.m20{
    margin: 20px;
}
.p20{
    padding: 20px;
}
.dashboardheading{
        font-size: 18px;
    font-weight: 900;
}
.bgwhite{
    background-color: #fff;
}
.f16{
    font-size: 16px;
}
#reports .m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--pic img{
    width: 2rem !important;
}