.menu_active .m-menu__link-text,
.menu_active .m-menu__link-icon {
    color: #716aca !important;
}

.m-quick-sidebar-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
}

.m-btn {
    color: #fff !important;
}

.theme-color-text {
    color: #605cac !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listingminheight {
    width: 100%;
    min-height: 300px;
}

.toast {
    position: fixed;
    bottom: 30px;
    animation: slideInToast 0.7s ease-in;
}

.toast-msg {
    background: #605cac;
    color: #fff;
    padding: 25px;
    max-width: 300px;
}

.errtxt {
    color: red;
}

.errordiv {
    margin-top: 10px;
    border: 1px solid red;
    padding: 15px 5px;
}

.sp-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px #fff solid;
    border-top: 2px transparent solid;
    border-radius: 50%;
    animation: spCircRot .6s infinite linear;
}

.errorip {
    border-bottom: 1px solid red;
}

.listingloader {
    width: 35px;
    height: 35px;
    border: 3px #fff solid;
    border-top: 3px solid #605cac;
    border-radius: 50%;
    animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes slideInToast {
    from {
        bottom: 0;
    }
    to {
        bottom: 30px;
    }
}

.nodehover {
    position: relative;
}

.nodedetails {
    display: none;
    position: absolute;
    min-height: 150px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background: #fff;
}

.nodehover:hover .nodedetails {
    display: block;
}

.m-form .m-form__group:first-child {
    padding-top: 15px;
}

.disabledpointer {
    pointer-events: none;
}

.popover__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    display: inline-block;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -25px;
    transform: translate(0, 10px);
    background-color: #e6e7e2;
    padding: 15px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    width: 200px;
    min-height: 130px;
    top: -210px;
}

.popover__content p {
    font-size: 14px !important;
    text-align: left !important;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    bottom: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e6e7e2 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(180deg);
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}

.dropdown--open .m-dropdown__wrapper {
    display: block !important;
}

.treeUserColor{
    background: #3e8a3d !important;
}

.treeAddColor{
    color: #575962;
    background: #e6e7e2 !important;
}

.f30{
    font-size: 30px !important;
}

.infobtn{
    background: #00c5dc!important;
    color: #fff !important;
}

.infobtn i {
    color: #fff !important;
}

.m-tabs-line a.m-tabs__link.active, .m-tabs-line a.m-tabs__link:hover, .m-tabs-line.nav.nav-tabs .nav-link.active, .m-tabs-line.nav.nav-tabs .nav-link:hover {
    background: 0 0;
    color: #3f4047;
    border-bottom: 5px solid #3f4047;
}

.headertag {
    height: 100%;
    float: left;
}

.headertag p {
    padding: 0 !important;
    margin: 0 !important;
}