<div className="m-grid__item m-grid__item--fluid m-wrapper">
    <div className="m-content">
        <div className="m-portlet m-portlet--mobile">
            <div className="row tableheaderrow">
                <div className="col-md-4 col-sm-3">
                    <h3 className="m-portlet__head-text tableheading">
                        Geneology Tree
                    </h3>
                </div>
                <div className="col-md-8 col-sm-9">
                    <div className="input-group">
                        <input type="text" className="form-control form-control-warning searchinput" placeholder="Search by Name, Mobile Number..." />
                        <div className="input-group-append">
                            <button className="btn btn-brand searchbtn" type="button">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div className="m-portlet__body pb60">
                <div className="tree">
                    <ul>
                        <li>
                            <a ><img src="assets/images/user.png" className="geneimg"><p className="geneuser">Business Admin</p></a>
                            <ul>
                                <li>
                                    <a ><img src="assets/images/user.png" className="geneimg"><p className="geneuser">User A</p></a>
                                    <ul>
                                        <li>
                                            <a  data-toggle="modal" data-target="#newusermodal"><img src="assets/images/plus.png" className="geneimg"><p className="addgeneuser">Add New User</p></a>
                                        </li>
                                        <li>
                                            <a  data-toggle="modal" data-target="#newusermodal"><img src="assets/images/plus.png" className="geneimg"><p className="addgeneuser">Add New User</p></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a ><img src="assets/images/user.png" className="geneimg"><p className="geneuser">User B</p></a>
                                    <ul>
                                        <li>
                                            <a ><img src="assets/images/user.png" className="geneimg"><p className="geneuser">User E</p></a>
                                        </li>
                                        <li>
                                            <a ><img src="assets/images/user.png" className="geneimg"><p className="geneuser">User F</p></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>